{% extends "master.html" %}

{% block content %}

<h1>Bem Vindo!</h1>

<div class="container">
    <div class="row photos">
        <div class="column col-md-6">
            <img class="rounded p-1" src="static/templates/images/report.svg" alt="report" width="150" height="150" style="background-color: rgb(255, 187, 0);">
        </div>
        <div class="column col-md-6">
            <img class="rounded p-1" src="static/templates/images/pc-gear.svg" alt="report" width="150" height="150" style="background-color: rgb(255, 187, 0);">
        </div>
    </div>
    <div class="row fixed-bottom mx-auto">
        <div class="column col-md-12">
            <img class="" src="static/templates/images/LogoAGVs_fundoEscuro.svg" alt="logo" width="200px" height="75px">
        </div>
    </div>  
</div>



   

{% endblock %}