.navbar {
    background-color:#F2921D;
    color : #0D0D0D;
    font-size: 20px;
}

.dropdown-item i {
    margin-right: 8px;
}

body{
    background-color:#252525;
}

p{
    color:white;
}
h1{
    color:white;
}

form{
    color: white;
}

.btn-sm{
    padding: 10px 200px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #F2921D;
    border-width: 10px;
}

