.navbar {
    background-color:#F2921D;
    color : #0D0D0D;
    font-size: 20px;
}

.dropdown-item i {
    margin-right: 8px;
}

body{
    background: 
        linear-gradient(black 70%, #F2921D);
    /*background-color:#252525;*/
}

p{
    color:white;
}
h1{
    color:white;
}

form{
    color: white;
}

.btn-sm{
    padding: 10px 200px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #F2921D;
    border-width: 10px;
}

i{
    color: black;
}

a{
    text-decoration: none;
}

.photos{
    margin-top: 40px;
    padding-top: 60px;
    margin-right: 200px;
    margin-left: 200px;
}

.caption{
    color: white;
    font-size: 20px; 
    font-style: italic; 
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btn_test{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 5px;
}
